.login{
    padding: 50px;
    margin: auto;
    width:50%;
}
.field{
    text-align:center;
}
.box{
    width:50%;
    
}

.button{
    background-color:#f44336; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    
}
.button:hover {
    background-color: pink;
    color: black;
}
.top{
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-decoration: blink;
    text-align: center;
    border:5px solid grey;
    font-family: sans-serif;
    
    
}
